***1 序論***

**健康年齢と幸福度の関係**

**一松陽翔　1254810083**

麗澤流エンジニアで健康寿命について調べていて健康寿命が長いほど幸福と思う人が増えると考えたから

In [1]:
# 必要なライブラリをインポート
import pandas as pd
import matplotlib.pyplot as plt

# CSVファイルを読み込む
df = pd.read_csv('world_happiness_report.csv')

# データの最初の5行を表示
df.head()

,Unnamed: 0,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,year
0,0,Switzerland,Western Europe,1.0,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,1,Iceland,Western Europe,2.0,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,2,Denmark,Western Europe,3.0,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,3,Norway,Western Europe,4.0,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,4,Canada,North America,5.0,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015

In [2]:
# データの形状を確認（行数、列数）
print(f"データの形状: {df.shape}")

# データの基本情報
df.info()

データの形状: (1231, 14)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1231 entries, 0 to 1230
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     1231 non-null   int64
 1   Country                        617 non-null    object
 2   Region                         315 non-null    object
 3   Happiness Rank                 315 non-null    float64
 4   Happiness Score                315 non-null    float64
 5   Standard Error                 158 non-null    float64
 6   Economy (GDP per Capita)       315 non-null    float64
 7   Family                         470 non-null    float64
 8   Health (Life Expectancy)       315 non-null    float64
 9   Freedom                        470 non-null    float64
 10  Trust (Government Corruption)  315 non-null    float64
 11  Generosity                     1084 non-null   float64
 12  Dystopia Residual              315 non-null    float64
 13  year                           1231 non-null   int64
dtypes: float64(10), int64(2), object(2)
memory usage: 134.8+ KB

In [3]:
df.describe()

,Unnamed: 0,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,year
count,1231.000000,315.000000,315.000000,158.000000,315.000000,470.000000,315.000000,470.000000,315.000000,1084.000000,315.000000,1231.000000
mean,615.000000,79.238095,5.378949,0.047885,0.899837,0.990347,0.594054,0.402828,0.140532,0.153545,2.212032,2018.450041
std,355.503399,45.538922,1.141531,0.017146,0.410780,0.318707,0.240790,0.150356,0.115490,0.167592,0.558728,2.284034
min,0.000000,1.000000,2.839000,0.018480,0.000000,0.000000,0.000000,0.000000,0.000000,-0.300907,0.328580,2015.000000
25%,307.500000,40.000000,4.510000,0.037268,0.594900,0.793000,0.419645,0.297615,0.061315,0.064828,1.884135,2016.000000
50%,615.000000,79.000000,5.286000,0.043940,0.973060,1.025665,0.640450,0.418347,0.106130,0.162140,2.211260,2018.000000
75%,922.500000,118.500000,6.269000,0.052300,1.229000,1.228745,0.787640,0.516850,0.178610,0.252000,2.563470,2020.000000
max,1230.000000,158.000000,7.587000,0.136930,1.824270,1.610574,1.025250,0.669730,0.551910,0.838075,3.837720,2022.000000

In [8]:
import pandas as pd

# CSVファイルの読み込み
df = pd.read_csv("world_happiness_report.csv")

# 列名を確認（最初に一度実行すると安全）
print(df.columns)

# 仮定：
# 国名の列 → "Country"
# 幸福度の列 → "Happiness Score"
# ※ 実際の列名が違ったらここを書き換える

top20 = (
    df.sort_values(by="Happiness Score", ascending=False)
      .head(20)
      [["Country", "Happiness Score"]]
)

print(top20)

Index(['Unnamed: 0', 'Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual', 'year'],
      dtype='object')
         Country  Happiness Score
0    Switzerland            7.587
1        Iceland            7.561
2        Denmark            7.527
158      Denmark            7.526
3         Norway            7.522
159  Switzerland            7.509
160      Iceland            7.501
161       Norway            7.498
4         Canada            7.427
162      Finland            7.413
5        Finland            7.406
163       Canada            7.404
6    Netherlands            7.378
7         Sweden            7.364
164  Netherlands            7.339
165  New Zealand            7.334
166    Australia            7.313
167       Sweden            7.291
8    New Zealand            7.286
9      Australia            7.284

In [ ]:
import pandas as pd

# Excelファイルを読み込む
df = pd.read_excel("country_scores.xlsx")

# 国名と幸福度がある行だけ残す
df = df.dropna(subset=["Country", "Happiness Score"])

# 幸福度スコアで降順ソートして上位20件
top20 = (
    df.sort_values(by="Happiness Score", ascending=False)
      .head(20)
      .reset_index(drop=True)
)

# 順位を付ける
top20.index += 1

# 結果表示
print(top20[["Country", "Happiness Score"]])

FileNotFoundError: [Errno 2] No such file or directory: '/mnt/data/country_scores.xlsx'

In [9]:
import pandas as pd

# CSV読み込み
df = pd.read_csv("world_happiness_report.csv")

# 英語 → 日本語 国名対応表（例）
country_ja = {
    "Finland": "フィンランド",
    "Denmark": "デンマーク",
    "Iceland": "アイスランド",
    "Switzerland": "スイス",
    "Netherlands": "オランダ",
    "Norway": "ノルウェー",
    "Sweden": "スウェーデン",
    "Luxembourg": "ルクセンブルク",
    "New Zealand": "ニュージーランド",
    "Austria": "オーストリア",
    "Australia": "オーストラリア",
    "Canada": "カナダ",
    "Ireland": "アイルランド",
    "Germany": "ドイツ",
    "Belgium": "ベルギー",
    "United States": "アメリカ合衆国",
    "United Kingdom": "イギリス",
    "Czech Republic": "チェコ",
    "France": "フランス",
    "Japan": "日本"
}

# 上位20か国
top20 = df.sort_values(by="Happiness Score", ascending=False).head(20)

# 日本語名列を追加
top20["国名（日本語）"] = top20["Country"].map(country_ja)

print(top20[["国名（日本語）", "Happiness Score"]])

      国名（日本語）  Happiness Score
0         スイス            7.587
1      アイスランド            7.561
2       デンマーク            7.527
158     デンマーク            7.526
3       ノルウェー            7.522
159       スイス            7.509
160    アイスランド            7.501
161     ノルウェー            7.498
4         カナダ            7.427
162    フィンランド            7.413
5      フィンランド            7.406
163       カナダ            7.404
6        オランダ            7.378
7      スウェーデン            7.364
164      オランダ            7.339
165  ニュージーランド            7.334
166   オーストラリア            7.313
167    スウェーデン            7.291
8    ニュージーランド            7.286
9     オーストラリア            7.284